%mainHeading {
    font-family: $font-custom;
    font-weight: 300;
    text-transform: uppercase;
}

.heading-1 {
    @extend %mainHeading;
    font-size: 5rem;
    color: $color-tertiary;
}

.heading-2 {
    @extend %mainHeading;
    font-size: 2.5rem;
}

.heading-3 {
    font-size: 1.8rem;
    text-transform: uppercase;
    margin: 1.5rem 0;
    position: relative;
    display: flex;
    align-items: center;
}

.heading-3::after {
    content: "";
    height: 4px;
    background-color: currentColor;
    flex: 1;
    margin-right: -$container-side-padding;
    margin-left: 1rem;
}

.paragraph {

}