// COLORS
$color-primary: #272726;
$color-secondary: #EBE8E8;
$color-tertiary: #629BB8;
$color-background: rgba($color-primary, 0.9);

// MEASUREMENTS
$container-side-padding: 2rem;

// FONTS
$font-primary: 'Open Sans', sans-serif;
$font-custom: 'Oswald', sans-serif;

// BREAKPOINTS
$bp-lg: 56.25em;